<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="viola1.agrovc.com.tonguefinal">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo3"
        android:supportsRtl="true"
        android:name=".view.MyApplication"
        android:theme="@style/AppTheme">

        <activity android:name="presentation.ui.activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".splashed.ActivitySplash"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".view.Login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />

        <activity
            android:name=".view.SignUp"

            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.StudentSignUp"

            android:launchMode="singleTask"
            android:screenOrientation="portrait" />


        <activity
            android:name=".view.Tutor"

            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Others.AdminContact"

            android:launchMode="singleTask"
            android:screenOrientation="portrait" />



        <activity
            android:name=".view.StudentHome"

            android:launchMode="singleTask"
            android:screenOrientation="portrait" />


        <activity
            android:name=".view.TutorHome"

            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.StudentLogin"

            android:launchMode="singleTask"
            android:screenOrientation="portrait" />



        <activity
            android:name=".view.MaidActivity"

            android:launchMode="singleTask"
            android:screenOrientation="portrait" />











    </application>

</manifest>